---
import ImageUpload from "../components/ImageUpload.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="flex items-center justify-center h-screen bg-gradient-to-r from-blue-400 to-purple-600"
  >
    <div class="text-center">
      <h1 class="text-4xl text-white mb-6">Upload and Split Your Images</h1>
      <ImageUpload />
    </div>
  </div>
</Layout>
